*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: #000;
}

section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

article{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto 200px auto auto 40px;
    row-gap: 10px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 1px 1px 4px gray;
}

article div{
    grid-row: 4/5;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

button{
    border-radius: 6px;
}
p{
    font-size: 16px;
}

h2{
    text-align: center;
}



